In [3]:
# !pip install datasets
from datasets import load_dataset, get_dataset_config_names
import pandas as pd

In [4]:
ner_data_subset = get_dataset_config_names("xtreme")
ner_data_subset

['XNLI',
 'tydiqa',
 'SQuAD',
 'PAN-X.af',
 'PAN-X.ar',
 'PAN-X.bg',
 'PAN-X.bn',
 'PAN-X.de',
 'PAN-X.el',
 'PAN-X.en',
 'PAN-X.es',
 'PAN-X.et',
 'PAN-X.eu',
 'PAN-X.fa',
 'PAN-X.fi',
 'PAN-X.fr',
 'PAN-X.he',
 'PAN-X.hi',
 'PAN-X.hu',
 'PAN-X.id',
 'PAN-X.it',
 'PAN-X.ja',
 'PAN-X.jv',
 'PAN-X.ka',
 'PAN-X.kk',
 'PAN-X.ko',
 'PAN-X.ml',
 'PAN-X.mr',
 'PAN-X.ms',
 'PAN-X.my',
 'PAN-X.nl',
 'PAN-X.pt',
 'PAN-X.ru',
 'PAN-X.sw',
 'PAN-X.ta',
 'PAN-X.te',
 'PAN-X.th',
 'PAN-X.tl',
 'PAN-X.tr',
 'PAN-X.ur',
 'PAN-X.vi',
 'PAN-X.yo',
 'PAN-X.zh',
 'MLQA.ar.ar',
 'MLQA.ar.de',
 'MLQA.ar.vi',
 'MLQA.ar.zh',
 'MLQA.ar.en',
 'MLQA.ar.es',
 'MLQA.ar.hi',
 'MLQA.de.ar',
 'MLQA.de.de',
 'MLQA.de.vi',
 'MLQA.de.zh',
 'MLQA.de.en',
 'MLQA.de.es',
 'MLQA.de.hi',
 'MLQA.vi.ar',
 'MLQA.vi.de',
 'MLQA.vi.vi',
 'MLQA.vi.zh',
 'MLQA.vi.en',
 'MLQA.vi.es',
 'MLQA.vi.hi',
 'MLQA.zh.ar',
 'MLQA.zh.de',
 'MLQA.zh.vi',
 'MLQA.zh.zh',
 'MLQA.zh.en',
 'MLQA.zh.es',
 'MLQA.zh.hi',
 'MLQA.en.ar',
 'MLQA.en.de',
 'MLQA.en.vi',
 'MLQA.en.zh',
 'MLQA.en.en',
 'MLQA.en.es',
 'MLQA.en.hi',
 'MLQA.es.ar',
 'MLQA.es.de',
 'MLQA.es.vi',
 'MLQA.es.zh',
 'MLQA.es.en',
 'MLQA.es.es',
 'MLQA.es.hi',
 'MLQA.hi.ar',
 'MLQA.hi.de',
 'MLQA.hi.vi',
 'MLQA.hi.zh',
 'MLQA.hi.en',
 'MLQA.hi.es',
 'MLQA.hi.hi',
 'XQuAD.ar',
 'XQuAD.de',
 'XQuAD.vi',
 'XQuAD.zh',
 'XQuAD.en',
 'XQuAD.es',
 'XQuAD.hi',
 'XQuAD.el',
 'XQuAD.ru',
 'XQuAD.th',
 'XQuAD.tr',
 'bucc18.de',
 'bucc18.fr',
 'bucc18.zh',
 'bucc18.ru',
 'PAWS-X.de',
 'PAWS-X.en',
 'PAWS-X.es',
 'PAWS-X.fr',
 'PAWS-X.ja',
 'PAWS-X.ko',
 'PAWS-X.zh',
 'tatoeba.afr',
 'tatoeba.ara',
 'tatoeba.ben',
 'tatoeba.bul',
 'tatoeba.deu',
 'tatoeba.cmn',
 'tatoeba.ell',
 'tatoeba.est',
 'tatoeba.eus',
 'tatoeba.fin',
 'tatoeba.fra',
 'tatoeba.heb',
 'tatoeba.hin',
 'tatoeba.hun',
 'tatoeba.ind',
 'tatoeba.ita',
 'tatoeba.jav',
 'tatoeba.jpn',
 'tatoeba.kat',
 'tatoeba.kaz',
 'tatoeba.kor',
 'tatoeba.mal',
 'tatoeba.mar',
 'tatoeba.nld',
 'tatoeba.pes',
 'tatoeba.por',
 'tatoeba.rus',
 'tatoeba.spa',
 'tatoeba.swh',
 'tatoeba.tam',
 'tatoeba.tel',
 'tatoeba.tgl',
 'tatoeba.tha',
 'tatoeba.tur',
 'tatoeba.urd',
 'tatoeba.vie',
 'udpos.Afrikaans',
 'udpos.Arabic',
 'udpos.Basque',
 'udpos.Bulgarian',
 'udpos.Dutch',
 'udpos.English',
 'udpos.Estonian',
 'udpos.Finnish',
 'udpos.French',
 'udpos.German',
 'udpos.Greek',
 'udpos.Hebrew',
 'udpos.Hindi',
 'udpos.Hungarian',
 'udpos.Indonesian',
 'udpos.Italian',
 'udpos.Japanese',
 'udpos.Kazakh',
 'udpos.Korean',
 'udpos.Chinese',
 'udpos.Marathi',
 'udpos.Persian',
 'udpos.Portuguese',
 'udpos.Russian',
 'udpos.Spanish',
 'udpos.Tagalog',
 'udpos.Tamil',
 'udpos.Telugu',
 'udpos.Thai',
 'udpos.Turkish',
 'udpos.Urdu',
 'udpos.Vietnamese',
 'udpos.Yoruba']

In [5]:
len(ner_data_subset)

183

In [6]:
panx_subsets = [s for s in ner_data_subset if s.startswith("PAN")]

In [7]:
panx_subsets

['PAN-X.af',
 'PAN-X.ar',
 'PAN-X.bg',
 'PAN-X.bn',
 'PAN-X.de',
 'PAN-X.el',
 'PAN-X.en',
 'PAN-X.es',
 'PAN-X.et',
 'PAN-X.eu',
 'PAN-X.fa',
 'PAN-X.fi',
 'PAN-X.fr',
 'PAN-X.he',
 'PAN-X.hi',
 'PAN-X.hu',
 'PAN-X.id',
 'PAN-X.it',
 'PAN-X.ja',
 'PAN-X.jv',
 'PAN-X.ka',
 'PAN-X.kk',
 'PAN-X.ko',
 'PAN-X.ml',
 'PAN-X.mr',
 'PAN-X.ms',
 'PAN-X.my',
 'PAN-X.nl',
 'PAN-X.pt',
 'PAN-X.ru',
 'PAN-X.sw',
 'PAN-X.ta',
 'PAN-X.te',
 'PAN-X.th',
 'PAN-X.tl',
 'PAN-X.tr',
 'PAN-X.ur',
 'PAN-X.vi',
 'PAN-X.yo',
 'PAN-X.zh']

In [9]:
en = load_dataset("xtreme", name="PAN-X.en")

Using the latest cached version of the module from C:\Users\vijay\.cache\huggingface\modules\datasets_modules\datasets\xtreme\29f5d57a48779f37ccb75cb8708d1095448aad0713b425bdc1ff9a4a128a56e4 (last modified on Fri Jul 29 19:13:39 2022) since it couldn't be found locally at xtreme., or remotely on the Hugging Face Hub.

Downloading and preparing dataset xtreme/PAN-X.en (download: 223.17 MiB, generated: 7.30 MiB, post-processed: Unknown size, total: 230.47 MiB) to C:\Users\vijay\.cache\huggingface\datasets\xtreme\PAN-X.en\1.0.0\29f5d57a48779f37ccb75cb8708d1095448aad0713b425bdc1ff9a4a128a56e4...

Downloading data: 100%|██████████| 234M/234M [01:12<00:00, 3.23MB/s]

Dataset xtreme downloaded and prepared to C:\Users\vijay\.cache\huggingface\datasets\xtreme\PAN-X.en\1.0.0\29f5d57a48779f37ccb75cb8708d1095448aad0713b425bdc1ff9a4a128a56e4. Subsequent calls will reuse this data.

100%|██████████| 3/3 [00:00<00:00, 32.12it/s]

In [10]:
en

DatasetDict({
    train: Dataset({
        features: ['tokens', 'ner_tags', 'langs'],
        num_rows: 20000
    })
    validation: Dataset({
        features: ['tokens', 'ner_tags', 'langs'],
        num_rows: 10000
    })
    test: Dataset({
        features: ['tokens', 'ner_tags', 'langs'],
        num_rows: 10000
    })
})

In [12]:
pd.DataFrame(en["train"][0]).T

            0         1   2    3         4      5   6   7    8   9   10
tokens    R.H.  Saunders   (  St.  Lawrence  River   )   (  968  MW   )
ner_tags     3         4   0    3         4      4   0   0    0   0   0
langs       en        en  en   en        en     en  en  en   en  en  en

In [20]:
en["train"].features["ner_tags"].feature.names

['O', 'B-PER', 'I-PER', 'B-ORG', 'I-ORG', 'B-LOC', 'I-LOC']

In [22]:
pd.DataFrame(en["train"])

,tokens,ner_tags,langs
0,"[R.H., Saunders, (, St., Lawrence, River, ), (...","[3, 4, 0, 3, 4, 4, 0, 0, 0, 0, 0]","[en, en, en, en, en, en, en, en, en, en, en]"
1,"[;, ', '', Anders, Lindström, '', ']","[0, 0, 0, 1, 2, 0, 0]","[en, en, en, en, en, en, en]"
2,"[Karl, Ove, Knausgård, (, born, 1968, )]","[1, 2, 2, 0, 0, 0, 0]","[en, en, en, en, en, en, en]"
3,"[Atlantic, City, ,, New, Jersey]","[5, 6, 6, 6, 6]","[en, en, en, en, en]"
4,"[Her, daughter, from, the, second, marriage, w...","[0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, ...","[en, en, en, en, en, en, en, en, en, en, en, e..."
...,...,...,...
19995,"[Cicely, Courtneidge, ,, Ernest, Truex]","[1, 2, 0, 1, 2]","[en, en, en, en, en]"
19996,"[Aracaju, ,, Sergipe, ,, Brazil]","[5, 0, 5, 0, 5]","[en, en, en, en, en]"
19997,"[Louisville, in, the, American, Civil, War]","[5, 6, 6, 6, 6, 6]","[en, en, en, en, en, en]"
19998,"[16, (, David, Nugent, )]","[0, 0, 1, 2, 0]","[en, en, en, en, en]"
19999,"[List, of, regional, mammals, lists]","[3, 4, 4, 4, 4]","[en, en, en, en, en]"